---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <link>{{ site.domain }}</link>
    <atom:link href="{{ site.domain }}/feed.xml" rel="self" type="application/rss+xml" />
    {% if collections.posts | length %}
      {% for latestPost in collections.posts | slice(0, 1) %}
        <lastBuildDate>{{ latestPost.date.toUTCString() }}</lastBuildDate>
      {% endfor %}
    {% else %}
      <lastBuildDate>{{ global.buildTime }}</lastBuildDate>
    {% endif %}
    {% for post in collections.posts %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ site.domain }}{{ post.url }}</link>
        <guid isPermaLink="true">{{ site.domain }}{{ post.url }}</guid>
        <pubDate>{{ post.date.toUTCString() }}</pubDate>
        <description><![CDATA[{{ post.data.description }}]]></description>
      </item>
    {% endfor %}
  </channel>
</rss>
