---
permalink: "/sitemap.xml"
changefreq: daily
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    {% if page.url %}
      <url>
        <loc>{{ site.domain }}{{ page.url | url }}</loc>
  <lastmod>{{ (page.date or global.buildTime) | htmlDateString }}</lastmod>
        <changefreq>{{ page.data.changefreq or changefreq }}</changefreq>
      </url>
    {% endif %}
  {% endfor %}
</urlset>
